<%- include partials/header.ejs %>

    <body>
        <%- include partials/navbar.ejs %>
            <% perguntas.forEach(pergunta=>{ %>
                <div class="card" id="caixa_perguntas">
                    <div class="card-body">
                        <h4>
                            <%= pergunta.titulo %>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <a href="/pergunta/<%= pergunta.id %>"><button type="button" class="btn btn-primary">Responder</button></a>
                    </div>
                </div>
                <% })%>
    <%- include partials/footer.ejs %>