<%- include partials/header.ejs %>

    <body>
        <%- include partials/navbar.ejs %>
            <div class="card" id="card_pagpergunta">
                <div class="card-title">
                    <h3 style="text-align: center;">
                        <%= pergunta.titulo %>
                    </h3>
                </div>
                <hr>
                <div class="card-body">
                    <p>
                        <%= pergunta.descrição%>
                    </p>
                </div>
            <form method="POST" action="/responder">
                <h4>Responda:</h4>
                <textarea placeholder="Digite sua resposta" class="form-control" name="corpo" rows="3"></textarea>
                <button style="margin-top: 3vh;" type="submit" class="btn btn-primary">Responder</button>
                <input type="hidden" name="id" value="<%= pergunta.id%>">
            </form>
            <h4 style="margin-top: 5vh;">Respostas:</h4>
            <%respostas.forEach(resposta => {%>
                <br>
                <div style="background-color: rgba(105, 104, 104, 0.295);" class="card">
                    <div class="card-body">
                        <p><%= resposta.corpo%></p>
                    </div>
                </div>
            <%});%>
    
    <%- include partials/footer.ejs %>